.container {
    display: grid;
    grid-template-rows: 1fr auto;
    row-gap: 50px;
}

.page {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}