* {
  margin: 0;
  padding: 0;
  border: 0;
}

#appWrapper {
  position: relative;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  background-color: #edeef0;
  color: #444444;
}