.post {
    display: grid;
    width: 100%;
    grid-template-columns: 5fr 2fr;
    grid-template-areas:
    'text image';
    justify-items: center;
}

.text {
    width: 100%;
    padding-bottom: 15px;
    grid-area: text;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
    'postText postText postText'
    'postLikes postLikes postDate';
}

.image {
    grid-area: image;
    justify-self: start;
    margin-left: 25px;
}

.image img {
    width: 100px;
    height: 100px;
}

.postText {
    grid-area: postText;
}

.postAuthor {
    grid-area: postAuthor;
}

.postDate {
    grid-area: postDate;
}

.postLikes {
    grid-area: postLikes;
}

.postRate > button {
    width: 20px;
    height: 20px;
    border: 1px solid black;
}