.post {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 10px;
}

.text {
    width: 100%;
    display: grid;
    grid-template-rows: auto auto;
}

.rest {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eec4c4;
    margin-bottom: 5px;
    color: #9a1c1c;
}

.rest * {
    fill: #9a1c1c;
}